@import 'semantic-ui';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.nav_list {
  display: flex;
  padding: 1em 3em;
  justify-content: center;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  background-color: aliceblue;
}

.nav_items a {
  margin: 0 1em;
  color: black;
}

.main_container {
  max-width: 80vw;
  margin: 0 auto;
}

.main_page_conatiner {
  display: flex;
  justify-content: space-between;
  margin: 1em auto;
  border-bottom: 2px solid rgb(168, 159, 159);
}
.comments_likes_container {
  float: right;
}

.image_container img {
  width: 100%;
}

.user_details_container {
  width: 80%;
  margin: 0 auto;
}

strong {
  font-size: 18px;
}

.See_all_post_btn {
  display: flex;
  justify-content: center;
}

.See_all_post_btn a {
  padding: 1em 2em;
  font-size: 20px;
  color: black;
  background-color: rgb(201, 196, 190);
  margin: 2em;
  border-radius: 10px;
}

.comments_container {
  list-style: none;
  margin-top: 2em;
}

.form_container {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form_container input {
  font-size: 18px;
  padding: 1em;
}

.form_container label {
  font-size: 25px;
  font-weight: 700;
}

.form_container textarea {
  font-size: 18px;
  padding: 1em;
}

.like-btn {
  border-radius: 10px;
  padding: 0.5em 2em;
}

.like-btn:hover {
  background-color: azure;
}

.main_container_forms_sign_up {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  width: 60%;
}

.main_container_forms_sign_up h2 {
  text-align: center;
  font-size: 4rem;
}

.field input {
  padding: 0.2em;
  width: 100%;
}

.actions input {
  margin: 0.2em 0;
  padding: 0.2em 0.5em;
}

#user_remember_me {
  width: 5%;
}

.btn-signout {
  margin: 0.2em 0;
  padding: 0.2em 0.5em;
}
