<header>
    <nav class="navbar">
        <ul class="nav_list">
            <li class="nav_items">
                Home
            </li>
            <li class="nav_items">
                Posts
            </li>
            <li class="nav_items">
                Login
            </li>
        </ul>
    </nav>
</header>
