<header>
    <nav class="navbar">
        <ul class="nav_list">
            <li class="nav_items">
                <%= link_to "Users", users_path%>
            </li>
            <li class="nav_items">
                <%= link_to "Login", '#'%>
            </li>
        </ul>
    </nav>
</header>
